*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* .inner{
    background-image: url(type.jpg);
    width: 50%;
    height: 600px;
} */

.login{
    width: 30%;
    height: 300px;
    margin: 9%;
    padding: 5px;
    display: block;
    background-color: black;
    /* border: 3px solid green; */
    border-radius: 5px;
    background-image: url(wallpaper.png);
    background-size: cover;

}

.login input{
    align-items: center;
    width: 60%;
    margin: 10px 50px;
    padding: 13px;
    border-radius: 5px;
    border: none;
}

.login h2{
    align-self: center;
    color: rgb(19, 19, 180);
    text-align: center;
    margin: 12px;
}

.login button{
    color: white;
    background-image: linear-gradient(rgb(14, 14, 17), rgb(74, 80, 88));
    border-radius: 0px;
    border-top: 2px solid rgb(41, 41, 145);
    border-right:solid 2px blue;
    border-left: 0px;
    border-bottom: 0px;
    padding: 15px 40px;
    margin-left: 50px;
    /* width: 20px; */
}


.sign-up{
    width: 50%;
    height: auto;
    display: block;
    padding: 3px;
    margin-left: 10%;
    background-color: rgb(167, 184, 167);
    border-radius: 5px;
}

.sign-up button{
    color: white;
    background-image: linear-gradient(blue, rgb(57, 116, 204));
    border-radius: 20px;
    border: none;
    padding: 15px 40px;
    margin-left: 230px;
    /* width: 20px; */
}

.sign-up h2{
    align-self: center;
    color: rgb(19, 19, 180);
    text-align: center;
    margin: 12px;
}

.sign-up input{
    align-items: center;
    width: 60%;
    margin: 10px 100px;
    padding: 23px;
    border-radius: 5px;
    border: none;

}